@import url('https://fonts.googleapis.com/css?family=Biryani|Chewy|Freckle+Face');




body{
    background-color: aquamarine;
    background-image: url("../images/harry-sussams-pixeljungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.countainer{
    background-image: linear-gradient(to bottom right, rgb(0, 255, 98), rgb(247, 40, 40));
    height:928px;
    opacity: 0.8;
}


#title,#time, #question, #answers, #feedback{
    color: white;
  
    position: relative;
    left: 30%;
    margin: 20px;
}

#title{
    color: orange;
    font-size: 55px;
    font-family: 'Chewy', cursive;
    
}

#time{
    font-family: 'Biryani', sans-serif;
}

#question{
    font-size: 25px;
    font-family:'Freckle Face', cursive;

}

#answer{
    background-color: green;
    border: none;
    padding: 19px, 32px;
    text-decoration: none;
    
}

#feedback{
    font-size:25px;
}
button{
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
}
#choice{
     
    display: inline;
    font-size: 16px;
    border: none;
    text-decoration: none;
    margin:10px;
    
}

img{
    height:250px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    position: relative;
    left: 100%;
    bottom: 10%;
}

button:hover{
    background: rgb(252, 66, 66);
}